body { 
    color: black;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h2{ 
    color: red
}

.map{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
}

img{ 
    width: 100px;
    cursor: pointer;
}

.appName{
    margin-top: 8px;
}

.header{ 
    display: flex;
    flex-direction: row;
    background-color: #227AAF;
    width: 100%;
    justify-content: space-between;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.header p{ 
    margin: auto 10px;
}

.header i{ 
    margin-left: 10px;
    cursor: pointer;
    color: red;
    font-size: medium;
}

.header i:hover{
    color: #D70D0D;
}

#base{ 
    position: absolute;
    top: 190px;
    right: 5px;
    width: 330px;
    border-radius: 0px 0px 4px 4px;
}

.main-information{
    display: flex;
    justify-content: space-between;
    background-color: #2475B3;
    margin-top: 0px;
}

.close-information{
    font-size: larger;
    color: #FE1E07;
    margin-right: 0px;
    padding: 6px;
    cursor: pointer;
    margin-bottom: 0px;
    background-color: white;
}

.close-information:hover{ 
    background-color: #DCD7D7;
}

#contain{ 
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 4px 6px;
    background-color: #C5C2B9;
}

#generales-information{ 
    padding: 0px 3px;
    margin: 6px 8px 2px 8px;
    border-radius: 5px 5px 0px 0px;
    background-color: white;
}

#generales-information h5{ 
    color: #574D4D;
    margin: 3px 0px 0px 3px;
}

#table-information-genrales{ 
    width: 98%;
    font-size: 11px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #888585;
    margin: 1px 4px 6px 4px;
    color: #574D4D;  
    overflow: scroll; 
}

#table-information-genrales th, td{ 
    text-align: center;
    padding: 4px 2px;
}

#table-information-genrales td:nth-child(5){ 
    color: #574D4D;
}

#table-information-genrales tr{
    background-color: #f2f2f2;
}

#table-information-genrales #title{ 
    border-bottom: 1px solid #2475B3; 
    font-weight: bold;
}

#table-information-genrales tr:not(#title){ 
    background-color: #DAD8D2;    
    color: #574D4D;
    font-weight: bold;
}

#table-information-genrales .fas{ 
    color: green
}

#generales-information > .fas{ 
    color: green;
    cursor: pointer;
    margin: 0px 95%;
    font-size: 15px;
}

#information-container{ 
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 12px;
    z-index: 1;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    display: none;
}

#form-data{ 
    background-color: #ECEDEE;
    position: absolute;
    top: 20%;
    left: 40%;
    border-radius: 0px 0px 3px 3px;
}

#form-data div:not(.lamps-information){ 
    padding: 2px 4px;
}

.msg p{ 
    padding: 3px 8px;
    outline: none;
    margin-top: 3px;
    color: white;
    border-radius: 3px;
    margin-bottom: 2px;
}

.msg{ 
    height: 30px;
}

#msgError{ 
    background-color:  #d84b28;
    display: none;
}

#msgConfirmation{ 
    background-color: #38a849;  
    display: none;
}

#history-data{ 
    display: block;
    padding: 3px 8px;
    border-top: none;
    margin-bottom: 5px;
}

#history-data h4{ 
    color: #086927;
    margin: 4px 0px 5px 6px;
    font-weight: bold;
}

#selecte{ 
    background-color: white;
    margin-top: 4px;
    padding: 5px 7px;
    border-radius: 4px 4px 0px 0px;
}

#selecte label{ 
    font-size: 15px;
}

/*#vue-button{ 
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    background-color:  #2475B3;
    padding: 5px 12px;
    margin-left: 20px;
}*/

#selected{ 
    padding: 1px 8px;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #0D9738;
}

#selected:focus{ 
    border-bottom: 0px;
}

#chart{ 
    margin-top: 10px; 
    width: 100%;
}

#myChart{ 
    background-color: white;
    border-radius: 4px 4px 0px 0px;
}

#name-information,#numberOn-information,#numberOff-information,#comment-information,#services-information{ 
    display: flex;
    flex-direction: column;
    margin: 3px 4px 0px 4px;
}

#name-information{ 
    margin-top: 0px;
}

#numberOff-information{
    float: left;
}

#validationCancel-information{ 
    margin-top: 3px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#validationCancel-information #cancel, #submit{ 
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

#cancel{ 
    background-color: #E50404;
    margin-right: 6px;
    padding: 5px 8px;
}

#submit{ 
    background-color: #0CA81A;
    padding: 5px 8px;
}

#submit:hover{ 
    background-color: #109623;
}

#cancel:hover{
    background-color: #D10C0C;
}

#services-information{ 
    display: flex;
    flex-direction: row;
}

#information-container input[type="number"], input[type="text"], textarea{ 
    padding: 6px;
    border: none;
    outline: none;
    border-radius: 6px;
}

#numberOff, #numberOn{ 
    border: 1px solid #CDDECF;
    outline: none;
    width: 135px;
}

input[type="text"]:focus{ 
    border: 1px solid #2475B3;
}

textarea:focus{ 
    border: 1px solid #2475B3;
}

h3{
    color: white;
    margin: 7px 0px 5px 6px;
}

.fond{ 
    position: absolute;
    bottom: 60px;
    left: 6px;
    cursor: pointer;
    background-color: white;
    color: #574D4D;
}

#satellite{
    margin-left: 46px;
    border-radius: 0px 7px 7px 0px;
    padding: 5px 5px;
    border-left: 1px solid #574D4D;
}

#OSM{
    border-radius: 7px 0px 0px 7px;
    padding: 5px 4px 5px 6px;
}

.active{
    background-color:#2475B3;
    color: white;
}

#position-mouse{
    position: absolute;
    bottom: 0px;
    left: 6px;
    border-radius: 4px;
    color: white;
    font-size: small;
    padding: 3px 5px;
    background-color: #2475B3;
}

.long{
    margin-left: 8px;
}

.control{
    background-color: seashell;
    padding: 6px 8px;
    color:#575252;
    cursor: pointer;
    border-radius: 50%;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.control:hover{ 
    color:#2475B3;
    background-color: #DCD7D7;
}

#zoomin{
    position: absolute;
    top: 100px;
    left: 10px;
}

#zoomout{ 
    position: absolute;
    top: 135px;
    left: 10px;
}

#zome-extends{ 
    position: absolute;
    top: 170px;
    left: 10px;
    padding: 7px 8px;
}

#location{ 
    position: absolute;
    top: 205px;
    left: 10px;
    padding: 6px 10px;
}

/*#ruler{ 
    position: absolute;
    top: 240px;
    left: 10px;
    padding: 6.5px 7px;
}*/
.activated{
    color:#2475B3;
    background-color: #DCD7D7;
}

span{ 
    border: 1px solid #DCD7D7;
    background-color: whitesmoke;
    font-size: 14px;
    padding: 3px 5px;
    border-radius: 6px;
    display: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#zoomoutspan{ 
    position: absolute;
    top: 135px;
    left: 45px;
}
#zoominspan{ 
    position: absolute;
    top: 105px;
    left: 45px
}

#extendsspan{ 
    position: absolute;
    top: 170px;
    left: 45px;  
}

#locationspan{ 
    position: absolute;
    top: 205px;
    left: 45px;
}

/*#rulerspan{ 
    position: absolute;
    top: 240px;
    left: 45px;
}*/

#zoomout:hover + #zoomoutspan, #zome-extends:hover + #extendsspan, #location:hover + #locationspan, #ruler:hover + #rulerspan{ 
    display: block;
}

#nearest-lamps{
    position: absolute;
    top: 105px;
    left: 132px;
    width: 300px;
    display: none;
}

h2{ 
    color: white;
    background-color: #2475B3;
    padding: 4px;
    float: left;
}

#lamps-table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    color: #574D4D;
    font-size: 80%; 
}

#lamps-table td{
    text-align: left;
    padding: 3% 2% 3% 2%;
}

#lamps-table th{ 
    text-align: left;
    padding: 3% 2%;
}

#lamps-table tr{
    background-color: #f2f2f2;
    border-bottom: 1.5px solid #8A887D;
}

#lamps-table .title{ 
    border-bottom: 2.5px solid #2475B3; 
}

#lamps-table .data{ 
    cursor: pointer;
}

#lamps-table .data:hover{ 
    background-color: #DAD8D2;
}

#lamps-table .clicked{ 
    background-color: #DAD8D2;
}

#lamps-table tr:last-child{
    border: none;
}

.lamps-information{
    display: flex;
    justify-content: space-between;
    background-color: #2475B3;
    margin-top: 0px;
}

#Ol-OSM{ 
    position: absolute;
    bottom: 5px;
    right: 40px;
    background-color: #F9F8F4;
    border-radius: 3px 3px 0px 0px;
    font-size: 12px;
    padding-right: 4px;
}

#Ol-OSM a{ 
    text-decoration: none;
    padding: 50px 2px;
    color: #03899c;
}

#Ol-OSM a:hover{ 
    color:  #1B9E0D;
}


@media screen and (max-width: 800px) {

    #nearest-lamps{ 
        width: 200px;
        font-size: 70%;
        position: absolute;
        top: 8%;
        height: 150px;
        left: 60%;

    }
    .lamps-information{ 
        margin-right: 0.5px;
    }

    #base{ 
        position: absolute;
        top: 350px;
        width: 300px;
        height: 50%;
        font-size: 80%;
    }

    #table-information-genrales{ 
        font-size: 80%;
        height: 50%;
       
    }

    #history-data{ 
        width: 95%;
        height: 20%;
    }
    
    #selected{ 
        padding: 1px;
    }

    #form-data{ 
        position: absolute;
        left: 20%;
    }

    #lamps-table{ 
        height: 80%;
    }
    #rulerspan, #locationspan, #extendsspan, #zoomoutspan, #zoominspan{ 
        visibility: hidden;
    }
    
  }


  @media screen and (max-height: 700px){ 
      #base{ 
          position: absolute;
          top: 40%;
      }
  }