{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet"  type="text/css" href="{% static 'css/mainCss.css'  %}">
        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css">
        <script src="https://kit.fontawesome.com/2466fa8278.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </head>
    <body>
    <div class="header">
       <img src="{% static "imgs/logo.png" %}" alt="le port de djibouti" />
       <img src="{% static "imgs/appName.png" %}" alt="le port de djibouti" class="appName"/>
        <p><a>Bienvenu Abdillahi</a><a><i class="fas fa-power-off" id="logout"></i></a></p>
    </div>
    <div class="body">
        <div id="map" class="map"></div>
        <a class="control zoom" id="zoomin"><i class="fas fa-plus"></i></a><span id="zoominspan">Zoom +</span>
        <a class="control zoom" id="zoomout"><i class="fas fa-minus"></i></a><span id="zoomoutspan">Zoom -</span>
        <a class="control zoom" id="zome-extends"><i class="fas fa-home"></i></a><span id="extendsspan">Centrer</span>
        <a class="control location" id="location"><i class="fas fa-map-marker-alt"></i></a><span id="locationspan">Me localiser</span>
        <a class="fond active" id="OSM">OSM</a>
        <a class="fond" id="satellite">Satellite</a>
        <p id="position-mouse"><a class="lat"></p>
        <div id="Ol-OSM">
            <a href="https://openlayers.org/" id="ol" target="_blank">Openlayers</a>
            <a href="https://www.openstreetmap.org/copyright/fr" id="osm" target="_blank">OpenStreetMap contributors</a>
        </div>
        <div id="base">
            <div class="main-information">
                <h3>Informations Générales</h3>
                <a class="close-information" id="close-base"><i class="far fa-times-circle"></i></a>
            </div>
            <div id="contain">
                 <div id="generales-information">
                    <h5>Derniere modification: 12/05/2020 à 9h45</h5>
                    <i class="fas fa-edit"></i>
                    <table id="table-information-genrales">
                        <tr id="title">
                            <th>Nom</th>
                            <th>Station</th>
                            <th>Allumer</th>
                            <th>Eteint</th>
                            <th>Différence</th>
                            <th>Services</th>
                        </tr>
                    </table>
                 </div>
                <div id="history-data">
                  <h4>Historique</h4>
                    <div id="selecte">
                        <label>Par type: </label>
                        <select id="selected">
                            <option value="number_off_lamp_On">Allumé</option>
                            <option value="number_off_lamp_Off">Eteint</option>
                        </select>
                    </div>
                    <div id="chart">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div id="nearest-lamps">
            <div class="lamps-information">
            <h3>Les Lampadaires</h3>
            <a class="close-information" id="close-lamps"><i class="far fa-times-circle"></i></a>
            </div>
            <table id="lamps-table">
                <tr class="title">
                    <th>#</th>
                    <th>Nom</th>
                    <th>Station</th>
                    <th>Distance</th>
                </tr>
            </table>
        </div>
        <div id="information-container">
            <form id="form-data" action="#">
                <div class="lamps-information">
                    <h3>Mettre à jour</h3>
                    <a class="close-information" id="close-information-container"><i class="far fa-times-circle"></i></a>
                </div>
                <div class="msg">
                    <p id="msgError">Error</p>
                    <p id="msgConfirmation">L'objet a bien été mis à jour</p>
                </div>
                <div id="name-information">
                    <label for="name">Nom</label>
                    <input type="text" id="name" disabled="disabled"/>
                </div>
                <div id="numberOff-information">
                    <label for="numberOff">Eteint</label>
                    <input type="number" id="numberOff" min="0"/>
                </div>
                <div id="numberOn-information">
                    <label for="numberOn">Allumer</label>
                    <input type="number" id="numberOn" min="0" />
                </div>
                <div id="services-information">Services:
                    <input type="checkbox" id="wifi" /> wifi
                    <input type="checkbox" id="Camera" />Camera
                </div>
                <div id="comment-information">
                    <label for="numberOn">Commentaire</label>
                    <textarea id="comment" name="subject" placeholder="Ecrire un commentaire" style="height:100px"></textarea>
                </div>
                <div id="validationCancel-information">
                    <input type="submit" id="submit" value="Enregistrer" />
                    <button id="cancel">Annuler</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/mainJs.js'  %}"></script>
    </body>
</html>
